<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="gff-search-service-mvwuhw2ub43ys" />
      <add key="SearchServiceApiKey" value="Yr250f845PI6ZlmVbh6XsagtbFCczkig9NFe0PTICXAzSeAhZD6x" />
      <add key="SearchServiceQueryKey" value="1iN2XueywyCDxsfz4Pcs7s9I4pAsxeqbPFXfVFltWoAzSeBpF3QT" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="685ef9bf04ae4633bbfbd7b4106e98a3" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gffstoragemvwuhw2ub43ys;AccountKey=ke1CfeWhJsA0c4SbTu0JcTRxmJRi2eeQLLOIty9t/7GqwSoIwTsfNy1RUgxTtRF81WWqQW4iOAc9+AStelWPZg==;" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="gff-site-mvwuhw2ub43ys" />
      <add key="AzureWebAppUsername" value="$gff-site-mvwuhw2ub43ys" />
      <add key="AzureWebAppPassword" value="nLnqwxtvT81XoANiGuoDkY4kbQJlG1qAyFpgSSMxvLj2kukJXFAfG4rXxhuT" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="gff-function-app-mvwuhw2ub43ys" />
      <add key="AzureFunctionHostKey" value="bul-GDWG2K2emlvAys3cGaH6MFhRDPxnGc9M2qzgWzD7AzFu3VbNWQ==" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="BlobEndpoint=https://gffdatasource.blob.core.windows.net/;QueueEndpoint=https://gffdatasource.queue.core.windows.net/;FileEndpoint=https://gffdatasource.file.core.windows.net/;TableEndpoint=https://gffdatasource.table.core.windows.net/;SharedAccessSignature=sv=2021-06-08&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacupyx&amp;se=2023-11-10T18:55:31Z&amp;st=2022-11-10T10:55:31Z&amp;spr=https,http&amp;sig=xnj%2FIjrhM87fLvEs1ZSO%2BW1GxtYqjkmgfe03oqV0gy0%3D" />
      <add key="JFKFilesBlobContainerName" value="sample-documents" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="gffdatasource" />
      <add key="IndexName" value="gffindex" />
      <add key="SkillsetName" value="gffskillset" />
      <add key="IndexerName" value="gffindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />

	  <add key="SearchServiceDnsSuffix" value="search.windows.net" />
      <add key="SearchServiceApiVersion" value="2021-04-30-Preview" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
